body{
  background: white;
}
h1, h3{
 width: 100%;
 height: 100%;
    line-height: 150%;
text-align: center;
 color: #16a085;
 font-family: Spartan,monospace;
}
button{
    color: #ffffff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
    font-family: Spartan, monospace;
}
form{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px dashed mintcream;
}

form ol {
  padding-left: 0;
}

form li, div > p {
  background: #eee;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  list-style-type: none;
  color: #16a085;
}

form img {
    height: 64px;
    order: 1;
}

form p {
    line-height: 32px;
    padding-left: 10px;
}

form label, form button {
    background-color: #16a085;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
    display: block;
    margin: 0 auto;
}

form label:hover, form button:hover {
   background-color: #149174;
   color: #0C5645;
   display: block;
    margin: 0 auto;
}

form label:active, form button:active {
  background-color: #149174;
  color: #0C5645;
  display: block;
  margin: 0 auto;
}