body{
  background: white;
}
h1{
    font-weight: 300;
    margin: 0;
    font-size: 3.2em; color: #273849; font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif; -moz-osx-font-smoothing: grayscale;
}
h3{
    font-weight: 300;
    margin: 0;
    font-size: 2.2em; color: #273849; font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif; -moz-osx-font-smoothing: grayscale;
}
form{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
}

form ol {
  padding-left: 0;
}

form li, div > p {
  background: #eee;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  list-style-type: none;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #00251a;
}

form img {
    height: 64px;
    order: 1;
}

form p {
    line-height: 32px;
    padding-left: 10px;
}

form label, form button {
    background-color: #006e6a;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
    display: block;
    margin: 0 auto;
}

form label:hover, form button:hover {
   background-color: #149174;
   color: #0C5645;
   display: block;
    margin: 0 auto;
}

form label:active, form button:active {
  background-color: #149174;
  color: #0C5645;
  display: block;
  margin: 0 auto;
}
button content {
align-items: center;
color: inherit;
display: flex;
flex: 1 0 auto;
justify-content: inherit;
line-height: normal;
position: relative;
transition: inherit;
    transition-property: inherit;
transition-property: opacity;
}
#primary {
    background: #006e6a;
                            border-bottom: none; cursor: pointer;
                            font-size: 25px;
                            font-weight: 300;
                            letter-spacing: 0.1em;
                            width: auto;
                            text-align: center;
                            padding: 1em 2em;
                            border-radius: 2em;
                            transition: all 0.15s ease;
                            box-sizing: border-box;
                            border: .5px solid #007e7a;
                            font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
                            height: 3em;
                            color: white;
}
#secondary {
     border-bottom: none; cursor: pointer;
                                font-size: 25px;
                                font-weight: 300;
                                letter-spacing: 0.1em;
                                width: auto;
                                border-radius: 2em;
                                transition: all 0.15s ease;
                                font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
                                padding: 1em 2em;
                                text-align: center;
                                background-color: #fff;
                                transition: all 0.15s ease;
                                box-sizing: border-box;
                                border: .5px solid #006e6a;
                                height: 3em;
                                color: #006e6a;
                                display: inline-block;
}
#upload {

                                border-bottom: none; cursor: pointer;
                                font-size: 25px;
                                font-weight: 400;
                                letter-spacing: 0.1em;
                                min-width: 5em;
                                border-radius: 2em;
                                transition: all 0.15s ease;
                                font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
                                padding: 1em 2em;
                                border-radius: 2em;
                                display: inline-block;
                                color: #006e6a;
                                background-color: #fff;
                                transition: all 0.15s ease;
                                box-sizing: border-box;
                                border: 1px solid #006e6a;

}