<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image better upper - Download</title>
    <script src="{{ url_for('static',filename='styles/pace.min.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/loading-bar.css') }}"></head>
<body>
<div style="padding-block: 5%">
    <div style="padding-block: 10%">
   <h1 align="center" style="font-weight: 300;
margin: 0;
font-size: 3.2em; color: #273849; font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif; -moz-osx-font-smoothing: grayscale;">Enjoy your images!</h1>
    </div>
    <div style="text-align: center;">
   <a href="/" style="padding-right: 10px; padding-bottom: 10px;"><button type="button" value="clear" id="secondary">UPDATE MORE IMAGES</button></a>
   <a href="/return-files/{{value}}" target="blank"><button id="primary">DOWNLOAD</button></a>
</div>
</div>
</body>
</html>