<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image better upper</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div style="text-align:center; padding-block: 10%;">
       <h1>Image better upper</h1>
       <h3>Give your images a glow-up</h3>
    </div>
    <div style="padding-inline: 45%;">
       <a href="upload"><button type="button" id="primary">START</button></a>
    </div>
</body>
</html>
