<!DOCTYPE html>
<html>
<head>
  <title>Complete file example</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
  <form method=post enctype=multipart/form-data>
    <div>
      <label for="image_uploads">Choose images to upload (PNG, JPG)</label>
      <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
    </div>
    <div class="preview">
      <p>No files currently selected for upload</p>
    </div>
    <div>
      <button type="submit" value="Upload">Submit</button>
    </div>
  </form>
  <script type=text/javascript src="{{
  url_for('static', filename='styles/upload.js') }}"></script>

</body>
</html>
